<div id="weather" style="min-width: 1300px;">
	<div class="article" style="position: relative;">
		<div class="top">
			<div class="form-group" style="padding-left: 40px;">
				<label id="title">电量预测</label>
				<!--<select class="form-control " style="display: inline-block;margin-left: 60px;width: 200px;margin-top: 4px;border-radius: 8px;" [(ngModel)]='comid'>
					<option value="141">无锡广盈实业有限公司</option>
				</select>-->
			</div>
		</div>

		<div class="content">
			<div class="left" style="min-width: 490px;">

				<div class="data2" style="position: relative">
					<div class="select" style="position: absolute;right: 0;top: 0;z-index:10;">
						<span>
                 <select class="form-control pull-left" title="" id="" style="width: 200px;">
                    <option value="141">无锡广盈实业有限公司</option>
                </select>
            </span>
						<span>
               <select class="form-control pull-left" id="selcd" title="" style="width: 200px" [(ngModel)]='month' (change)='charts()'>
                  <option value="2018-07">2018年07月</option>
                  <option value="2018-06">2018年06月</option>
                  <option value="2018-05">2018年05月</option>
                  <option value="2018-04">2018年04月</option>
                  <option value="2018-03">2018年03月</option>
                  <option value="2018-02">2018年02月</option>
                  <option value="2018-01">2018年01月</option>
              </select>
            </span>
					</div>

					<div class="showpow">
						<div>
							<span>{{tall}}<sup>Kwh</sup></span>
							<span>{{yall}} <sup>Kwh</sup></span>
						</div>
					</div>
					<div id="od5" echarts [options]="option" class="chart"></div>
				</div>

				<div class="data1">
					<div class="box" style="border-top: 0">
						<div class="p1">
							<div>
								<span class="gn cc">{{sunmj}}</span>
								<span class="green bac">Mj/m<sup>2</sup></span>
								<span class="bk">
                         <img src="../../../../assets/img/rel.png" alt=""> 热量
                     </span>
							</div>
							<div>
								<span class="bl cc">{{sunmj_all}}</span>
								<span class="blue bac">W/m<sup>2</sup></span>
								<span class="bk">
                     <img src="../../../../assets/img/fus.png" alt=""> 辐射
                 </span>
							</div>
							<div>
								<span class="og cc">{{suntime}}</span>
								<span class="orange bac">min</span>
								<span class="bk">
                 <img src="../../../../assets/img/riz.png" alt=""> 日照
             </span>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="p1">
							<div>
								<span class="gn cc">{{sunmj_all}}</span>
								<span class="gn bac">MJ/m<sup>2</sup></span>
								<span class="bk">总辐射</span>
							</div>
							<div>
								<span class="bl cc">{{zhimj}}</span>
								<span class="bl bac">MJ/m<sup>2</sup></span>
								<span class="bk">直辐射</span>
							</div>
							<div>
								<span class="og cc">{{sanmj}}</span>
								<span class="og bac">MJ/m<sup>2</sup></span>
								<span class="bk"> 散辐射</span>
							</div>
						</div>
						<div class="p1">
							<div>
								<span class="gn cc">{{sunmj}}</span>
								<span class="gn bac">W/m<sup>2</sup></span>
								<span class="bk">总热量
            </span>
							</div>
							<div>
								<span class="bl cc">{{zhirl}}</span>
								<span class="bl bac">W/m<sup>2</sup></span>
								<span class="bk">直热量
            </span>
							</div>
							<div>
								<span class="og cc">{{sanr}}</span>
								<span class="og bac">W/m<sup>2</sup></span>
								<span class="bk">散热量
            </span>
							</div>
						</div>
					</div>

					<div class="box">
						<div class="p1">
							<div>
								<span class="arc" style="background: url(../../../../assets/img/u841.png)">

        </span>
								<span class="max">{{hd_em}}%</span><br>
								<span class="min">湿度</span>
							</div>
							<div>
								<span class="arc" style="background: url(../../../../assets/img/u843.png);">

        </span>
								<span class="max">{{wind_dir}}<sup>。</sup></span><br>
								<span class="min">风向</span>
							</div>
							<div>
								<span class="arc" style="background: url(../../../../assets/img/u845.png);">

        </span>
								<span class="max">{{t_one}}<sup>。</sup>C</span><br>
								<span class="min">温度</span>
							</div>
							<div>
								<span class="arc" style="background: url(../../../../assets/img/u863.png);">

        </span>
								<span class="max">{{ap}}hPa</span><br>
								<span class="min">气压</span>
							</div>
						</div>
						<div>
							<span>环境温度<span class="gn">{{t_em}}%</span></span>
							<span>组件温度<span class="bl">{{zujian}}<sup>。</sup>C</span></span>
							<span>风速瞬时<span class="bl">{{windsped}}M/s</span></span>
						</div>
					</div>
				</div>
			</div>
			<div class="right" style="max-width: calc(100% - 496px);min-height: 660px;">
				<div class="time" style="margin: 20px ;">
					<div class="select" id="search_sp" style="display: inline-block">
						<span>
                <select class="form-control " style="width: 300px;height: 30px;border-radius: 5px;vertical-align: middle;padding:0 20px" name="" id="s">
                    <option value="141">无锡广盈实业有限公司</option>
                </select>
            </span>
					</div>
					<span>
            <p-calendar [(ngModel)]="startdate" [showIcon]="true" [placeholder]="'开始日期'"  dateFormat="yy-mm-dd" [maxDate]="enddate"  [locale]="ch" [readonlyInput]="false"></p-calendar>
          </span>
					<span style="margin-left: 50px;width:200px;margin-right: 20px;">
            <p-calendar [(ngModel)]="enddate" [showIcon]="true" [placeholder]="'结束日期'" [minDate]="startdate"  dateFormat="yy-mm-dd" [locale]="ch" [readonlyInput]="false"></p-calendar>
          </span>
					<i (click)='prelode()' class="glyphicon glyphicon-repeat" style="width: 28px;height:28px;line-height: 28px;margin-top: -5px;border-radius: 3px;vertical-align:middle;color: #fff;background: #2399E5;text-align: center;margin-right: 4px;"></i>
					<button pButton type="button" icon="fa-search" iconPos="left" (click)='getdatalist()'></button>
					<button class="pull-right" style="margin-top: 5px" pButton type="button" icon="fa-external-link" iconPos="left" title="导出"></button>

				</div>

				<div class="data3">
					<table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
						<thead>
							<tr role="row">
								<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 100px;">序号
								</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 160px;">站点</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 180px;">总表日累计<br/>MJ/m<sup>2</sup>
								</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 169px;">直表日累计<br/>MJ/m<sup>2</sup>
								</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 123px;">散表日累计MJ/m<sup>2</sup>
								</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 123px;">总表瞬时值<br/>MJ/m<sup>2</sup>
								</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 123px;">直表瞬时值<br/>MJ/m<sup>2</sup>
								</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 123px;">散表瞬时值<br/>MJ/m<sup>2</sup>
								</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 123px;">日照时<br />min
								</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 180px;">预测日发电量<br />kwh
								</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 180px;">预测累计发电量<br />kwh
								</th>
								<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 123px;">
									<div style="min-width: 89px">上报时间</div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" class="odd" *ngFor="let item of pageslist;let i =index;">
								<td class="sorting_1">{{i+1}}</td>
								<td>{{item.FACILITY_NUMBER}}</td>
								<td>{{item.SUN_MJ_DAY}}</td>
								<td>{{item.ZHI_MJ_DAY}}</td>
								<td>{{item.SAN_MJ_DAY}}</td>
								<td>{{item.SUN_MJ}}</td>

								<td>{{item.ZHI_MJ}}</td>
								<td>{{item.SAN_MJ}}</td>
								<td>{{item.SUN_TIME}}</td>
								<td>{{item.SUN_MJ_DAY}}</td>
								<td>{{item.SUM_EQ}}</td>
								<td>{{item.TIME}}</td>
							</tr>
						</tbody>
					</table>

					<!--<div class="dataTables_paginate paging_simple_numbers pull-right" id="example1_paginate">
            <ul class="pagination">
              <li class="paginate_button previous disabled" id="example1_previous"><a href="#" aria-controls="example1"
                                                                                      data-dt-idx="0" tabindex="0">Previous</a>
              </li>
              <li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a>
              </li>
              <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li>
              <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li>
              <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li>
              <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li>
              <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li>
              <li class="paginate_button next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7"
                                                                     tabindex="0">Next</a></li>
            </ul>
          </div>-->

					<div class="dataTables_paginate paging_simple_numbers pull-right" id="example1_paginate" style="margin: 20px 0;">
						<ul class="pagination">
							<li class="paginate_button previous" id="example1_previous" (click)="turn(4,$event)">
								<a href="javascript:(0)" aria-controls="example1" data-dt-idx="0" tabindex="0">首页</a>
							</li>
							<li class="paginate_button" (click)="turn(1,$event)">
								<a href="javascript:(0)" aria-controls="example1" data-dt-idx="1" tabindex="0">上一页</a>
							</li>
							<li class="paginate_button ">
								<a href="javascript:(0)" aria-controls="example1" data-dt-idx="2" tabindex="0">{{pagenum}}</a>
							</li>
							<li class="paginate_button " (click)="turn(2,$event)">
								<a href="javascript:(0)" aria-controls="example1" data-dt-idx="2" tabindex="0">下一页</a>
							</li>
							<li class="paginate_button " (click)="turn(5,$event)">
								<a href="javascript:(0)" aria-controls="example1" data-dt-idx="3" tabindex="0">尾页</a>
							</li>
							<li class="paginate_button ">
								<a href="javascript:(0)" aria-controls="example1" data-dt-idx="4" tabindex="0">当前{{pagenum}}/{{pages}}页，{{allpages}}条数据</a>
							</li>
							<li class="paginate_button ">
								<a href="javascript:(0)" aria-controls="example1" data-dt-idx="5" tabindex="0">第</a>
							</li>
							<li class="paginate_button ">
								<a href="javascript:(0)" contenteditable="true" id="turn" aria-controls="example1" data-dt-idx="6" tabindex="0">1</a>
							</li>
							<li class="paginate_button next" id="example1_next" [class.disabled]="gflag" (click)="turn(3,$event)">
								<a href="javascript:(0)" aria-controls="example1" data-dt-idx="7" tabindex="0">跳转</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>