<div id="setting">
	<ul class="setMenu">
		<li routerLink="./station" routerLinkActive="active">
			<div></div>
			<span>站点管理</span>
		</li>
		<li routerLink="./equipment" routerLinkActive="active">
			<div></div>
			<span>设备管理</span>
		</li>
		<li routerLink="./user" routerLinkActive="active">
			<div></div>
			<span>用户管理</span>
		</li>
		<li routerLink="./role" routerLinkActive="active">
			<div></div>
			<span>角色管理</span>
		</li>
		<li routerLink="./area" routerLinkActive="active">
			<div></div>
			<span>行政区域</span>
		</li>
	</ul>
	
	<router-outlet></router-outlet>
</div>
